body {max-width:100%; min-width:320px;}
.line_banner {
    background-color:#000; display:flex; justify-content:flex-end;
    position:relative; padding:9px 120px;
}
.line_banner .wrap {
    display:flex; align-items:center; gap:10px;
    /* 화면 중앙 + 요소의절반크기만큼 이동 */
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
}
.line_banner .wrap img {}
.line_banner .wrap span {
    color:#fff; font-size:0.875rem; letter-spacing:-0.02em;
}
.line_banner .closeBtn {}
main {}
/* 1행 : 메인배너 */
main #row1_mainBnr {
    width:100%;
    position:relative; /* 페이지네이션 부모위치기준 */
    text-align:center;
}
main #row1_mainBnr .main {
    width:100%; height:730px;
}
main #row1_mainBnr .main .swiper-wrapper {}
main #row1_mainBnr .main .swiper-wrapper > * {
    width:100%; height:730px;
    /* 가로, 세로 모두 꽉 채움 (비율 무시) */
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}
main #row1_mainBnr .main .swiper-wrapper .slide1 {
    background-image:url(../images/row1/mainBnr01.png);
}
main #row1_mainBnr .main .swiper-wrapper .slide2 {
    background-image:url(../images/row1/mainBnr02.png);
}
main #row1_mainBnr .main .swiper-wrapper .slide3 {
    background-image:url(../images/row1/mainBnr03.png);
}
/* 페이지네이션 */
main #row1_mainBnr {width:100%;}
main #row1_mainBnr .custom-pagination {
    position:absolute; z-index:900;
    bottom:49px; left:50%; transform:translateX(-50%);
    font-size:0.875rem; background-color:rgba(255,255,255,0.7);
    width:82px; height:31px; border-radius:20px;
    text-align:center; line-height:31px;
}
main #row1_mainBnr .custom-pagination * {/* pagination의 모든 글자적용 */
    font-weight:500; color:#444;}
main #row1_mainBnr .custom-pagination .current {color:#000;}
/* 모든 prev,next버튼 기본 디자인 초기화 */
.swiper-button-prev::after {display:none !important;}
.swiper-button-next::after {display:none !important;}
main #row1_mainBnr .main .custom-prev {
    background-image:url(../images/row1/prev.png);
    background-size:contain; position:absolute;
    left:30px; top:50%; transform:translateY(-50%); z-index:600;
    width:80px; height:80px; cursor:pointer;
}
main #row1_mainBnr .main .custom-next {
    background-image:url(../images/row1/next.png);
    background-size:contain; position:absolute;
    right:30px; top:50%; transform:translateY(-50%); z-index:600;
    width:80px; height:80px; cursor:pointer;
}
/* 2행 : 신상품 */
main #row2_new {
    padding:100px 0;
}
main #row2_new .container {margin:0 auto; text-align:center;}
main #row2_new .container h1 {
    font-family:'Prata', serif;
    font-size:2.5rem;
}
main #row2_new .container .menu {
    display:flex; justify-content:space-between; align-items:center;
    margin:40px 0; padding:0 176px;
    border-bottom:1px solid #ddd;
}
main #row2_new .container .menu .tapBtn {}
main #row2_new .container .menu .tapBtn .tap {
    margin-right:40px; font-size:0.875rem; color:#999;
    display:inline-block; height:47px; line-height:47px;
}
main #row2_new .container .menu .tapBtn .tap.active {
    color:#000; border-bottom:2px solid #000;
}
main #row2_new .container .menu .tapBtn .tap:last-child {margin-right:0;}
main #row2_new .container .menu .moreBtn {font-size:0.875rem;}
main #row2_new .container .tapContents {}
main #row2_new .container .tapContents .tapContent {
    position:relative;/* prev,next부모위치기준 */
}
main #row2_new .container .tapContents .tapContent.active {}
main #row2_new .container .tapContents .tapContent .new {
    width:1568px;
    /* padding:0 176px; width:100%; */
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper {width:100%;}
/* JS에서 생성한 태그 */
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide {
    text-align:left;
    width:calc((100% - (16px * 3)) / 4);
    position:relative;/* 장바구니아이콘 부모위치기준 */
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide.slide1 {}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide.slide2 {}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide.slide3 {}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide.slide4 {margin-right:none;}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .product {
    display:block; width:100%; /* 상품이미지 */}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .tags {margin-bottom:10px;}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .tags .tag {
    color:#444; font-size:0.688rem;
    padding:3px 10px; 
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .tags .tag:nth-child(1) {background-color:rgba(255, 255, 194, 0.7);}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .tags .tag:nth-child(2) {background-color:rgba(202, 226, 198, 0.7);}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .tags .tag:nth-child(3) {background-color:rgba(255, 188, 188, 0.7);}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .brand {
    font-size:0.75rem; font-weight:500; margin-bottom:10px;
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .name {
    color:#666; font-size:0.875rem; margin-bottom:15px;
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .price {
    font-size:0.938rem; font-weight:500;
}
main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .cart {
    position:absolute; bottom:0; right:0; cursor:pointer;
}
main #row2_new .container .tapContents .tapContent .custom-prev {
    background-image:url(../images/row2/prev.png);
    background-size:contain;
    width:50px; height:50px;
    left:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
main #row2_new .container .tapContents .tapContent .custom-next {
    background-image:url(../images/row2/next.png);
    background-size:contain;
    width:50px; height:50px;
    right:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
/* 3행 : 브랜드 라인 */
main #row3_styles {
    padding:120px 0;
}
main #row3_styles .container {
    text-align:center;
}
main #row3_styles .container h1 {
    font-family:'Prata', serif; font-size:2.5rem;
    margin-bottom:60px;
}
main #row3_styles .container h1 span {
    font-family:'Prata', serif; font-size:1.25rem;
}
main #row3_styles .container .tapBtn {
    width:1030px;
    margin:0 auto 40px;
}
main #row3_styles .container .tapBtn .stylesTap {}
main #row3_styles .container .tapBtn .stylesTap .swiper-wrapper {}
main #row3_styles .container .tapBtn .stylesTap .swiper-wrapper .swiper-slide {width:auto;}
main #row3_styles .container .tapBtn .stylesTap .swiper-wrapper .swiper-slide .tap {
    display:inline-block;
    border:1px solid #777; border-radius:20px;
    padding:10px 20px; font-size:0.875rem; color:#777;
}
main #row3_styles .container .tapBtn .stylesTap .swiper-wrapper .swiper-slide .tap.active {
    color:#fff; background-color:#FF5C5C; border:none;
}
main #row3_styles .container .tapContents {
    padding:0 176px;
}
main #row3_styles .container .tapContents .tapContent {
    display:flex; gap:10px;
    /* margin:0 auto; */
}
main #row3_styles .container .tapContents .tapContent.active {}
main #row3_styles .container .tapContents .tapContent .style {
    order:1;
    width:572px; height:575px;
    margin-right:0; margin-left:0;
    padding-top:98px;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper {}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide {
    text-align:left;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .listImg {}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .listImg img {
    display:block; width:100%;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .tags {}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .tags .tag {
    padding:3px 10px; color:#444; font-size:0.688rem; 
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .tags .tag:nth-child(1) {
    background-color:#FFFFC2;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .tags .tag:nth-child(2) {
    background-color:#FFBCBC;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .tags .tag:nth-child(3) {}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .brand {
    font-weight:500; font-size:0.75rem; margin:10px 0;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .name {
    font-size:0.875rem; color:#666; margin-bottom:10px;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .bottom {
    display:flex; justify-content:space-between; align-items:center;
    padding-right:10px; padding-bottom:5px;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .bottom .price {
    font-size:0.938rem; font-weight:500;
}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .bottom .cart {}
main #row3_styles .container .tapContents .tapContent .style .swiper-wrapper .swiper-slide .bottom .cart img {}
main #row3_styles .container .tapContents .tapContent .style .swiper-scrollbar {}
main #row3_styles .container .tapContents .tapContent > a {
    order:2;
    /* display:block; */
    background-image:url(../images/row3/tap1/thumb.png);
    background-repeat:no-repeat;
    background-size:cover;
    width:986px;
    position:relative;/* textbox부모위치기준 */
}
main #row3_styles .container .tapContents .tapContent > a .textbox {
    position:absolute; bottom:29px; left:50%; transform:translateX(-50%);
    background-color: rgba(255,255,255,0.7);
    width:582px;
    padding:0 80px 0 40px;
    display:flex; align-items:center;
}
main #row3_styles .container .tapContents .tapContent > a .textbox img {}
main #row3_styles .container .tapContents .tapContent > a .textbox span {
    text-align:left;
    font-size:0.875rem; color:#444; line-height:1.5;
}
/* 4행 : 베스트상품 */
main #row4_best {padding:100px 0;}
main #row4_best .container {margin:0 auto; text-align:center;}
main #row4_best .container h1 {
    font-family:'Prata', serif;
    font-size:2.5rem;
    line-height:1.5;
}
main #row4_best .container h1 span {
    display:block;
    color:#aaa; font-size:1rem;
}
main #row4_best .container .menu {
    display:flex; justify-content:space-between; align-items:center;
    margin:40px 0; padding:0 176px;
    border-bottom:1px solid #ddd;
}
main #row4_best .container .menu .tapBtn {}
main #row4_best .container .menu .tapBtn .tap {
    margin-right:40px; font-size:0.875rem; color:#999;
    display:inline-block; height:47px; line-height:47px;
}
main #row4_best .container .menu .tapBtn .tap.active {
    color:#000; border-bottom:2px solid #000;
}
main #row4_best .container .menu .tapBtn .tap:last-child {margin-right:0;}
main #row4_best .container .menu .moreBtn {font-size:0.875rem;}
main #row4_best .container .tapContents {}
main #row4_best .container .tapContents .tapContent {
    position:relative;/* prev,next부모위치기준 */
}
main #row4_best .container .tapContents .tapContent.active {}
main #row4_best .container .tapContents .tapContent .best {width:1568px;}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper {}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide {
    text-align:left;
    width:calc((100% - (16px * 3)) / 4);
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .listImg {}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .listImg img {
    display:block; width:100%; /* 상품이미지 */
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .tags {}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .tags .tag {
    padding:3px 10px; color:#444; font-size:0.688rem; 
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .tags .tag:nth-child(1) {
    background-color:rgba(255, 255, 194, 0.7);
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .tags .tag:nth-child(2) {
    background-color:rgba(255, 188, 188, 0.7);
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .tags .tag:nth-child(3) {}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .brand {
    font-weight:500; font-size:0.75rem; margin:10px 0;
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .name {
    font-size:0.875rem; color:#666; margin-bottom:10px;
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .bottom {
    display:flex; justify-content:space-between; align-items:center;
    padding-right:10px; padding-bottom:5px;
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .bottom .price {
    font-size:0.938rem; font-weight:500;
}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .bottom .cart {}
main #row4_best .container .tapContents .tapContent .best .swiper-wrapper .swiper-slide .bottom .cart img {}
main #row4_best .container .tapContents .tapContent .custom-prev {
    background-image:url(../images/row4/prev.png);
    background-size:contain;
    width:50px; height:50px;
    left:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
main #row4_best .container .tapContents .tapContent .custom-next {
    background-image:url(../images/row4/next.png);
    background-size:contain;
    width:50px; height:50px;
    right:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
/* 5행 : 리뷰 */
main #row5_review {
    padding:100px 0; text-align:center;
}
main #row5_review .container {}
main #row5_review .container h1 {
    font-family:'Prata', serif;
    font-size:2.5rem; margin-bottom:40px;
}
main #row5_review .container .wrap {
    position:relative;/* prev,next부모위치기준 */
}
main #row5_review .container .wrap .moreBtn {
    display:block; text-align:right;
    font-size:0.875rem; padding:0 176px;
    margin-bottom:20px; 
}
main #row5_review .container .wrap .review {
    width:1568px;
}
main #row5_review .container .wrap .review .swiper-wrapper {}
/* db 생성태그 선택자 시작*/
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide {}
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide .verticalWrap {
    line-height:0; /* 자식안라인요소 때문에 생긴 라인박스를 제거하여 하단여백제거. */
}
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide .verticalWrap .topImg {
    display:inline-block; margin-bottom:16px;
}
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide .verticalWrap .topImg img {width:100%; display:block;}
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide .verticalWrap .bottomImg {display:inline-block;}
main #row5_review .container .wrap .review .swiper-wrapper .swiper-slide .verticalWrap .bottomImg img {width:100%; display:block;}
/* db 생성태그 선택자 끝*/
main #row5_review .container .wrap .custom-prev {
    background-image:url(../images/row5/prev.png);
    background-size:contain;
    width:50px; height:50px;
    left:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
main #row5_review .container .wrap .custom-next {
    background-image:url(../images/row5/next.png);
    background-size:contain;
    width:50px; height:50px;
    right:86px;
    top:50%; transform:translateY(-50%); cursor:pointer; position:absolute;
}
main #row5_review .container .reviewBtn{
    background-color:#FF5C5C;
    color:#fff; font-size:0.875rem;
    padding:20px; border-radius:10px;
    display:inline-block; margin-top:36px;
}


/* 6행 : 룩북 */
main #row6_lookbook {
    padding:100px 0; background-color:#f5f5f5; text-align:center;
}
main #row6_lookbook .container {margin:0 auto;}
main #row6_lookbook .container h1 {
    font-family:'Prata', serif;
    font-size:1.875rem; margin-bottom:50px;
}
main #row6_lookbook .container .tapBtn {
    width:600px; margin:0px auto 20px;
}
main #row6_lookbook .container .tapBtn .lookbookTap {}
main #row6_lookbook .container .tapBtn .lookbookTap .swiper-wrapper {}
main #row6_lookbook .container .tapBtn .lookbookTap .swiper-wrapper .swiper-slide {width:auto;}
main #row6_lookbook .container .tapBtn .lookbookTap .swiper-wrapper .swiper-slide .tap {
    display:inline-block;
    border:1px solid #777; border-radius:20px; 
    font-size:0.875rem; color:#777; padding:10px 20px;
}
main #row6_lookbook .container .tapBtn .lookbookTap .swiper-wrapper .swiper-slide .tap.active {
    background-color:#FF5C5C; color:#fff; border:1px solid #fff;
}
main #row6_lookbook .container .moreBtn {
    text-align:right; display:block;
    width:1340px; margin:0 auto 20px; font-size:0.875rem;
}
main #row6_lookbook .container .tapContents {width:1340px; margin:0 auto;}
main #row6_lookbook .container .tapContents .tapContent {
    display:flex; gap:40px; justify-content:center;
}
/* JS에서 생성한 태그 */
main #row6_lookbook .container .tapContents .tapContent .wrap {
    width:calc((100% - (40px * 1)) / 2);
}
main #row6_lookbook .container .tapContents .tapContent .wrap .cover {
    display:block; line-height:0; margin-bottom:10px;
}
main #row6_lookbook .container .tapContents .tapContent .wrap .cover img {
    display:block; width:100%;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product {
    display:flex; gap:10px;
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list {
    width:calc((100% - (10px * 1)) / 2);
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .listImg {
    display:flex; width:100%;
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .listImg img {
    width:calc(100% / 2);
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .listImg img:first-child {}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .listImg img:last-child {}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info {text-align:left;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .tags {margin-bottom:10px;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .tags .tag {
    color:#444; font-size:0.688rem;
    padding:3px 10px; 
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .tags .tag:nth-child(1) {background-color:rgba(255, 255, 194, 0.7);}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .tags .tag:nth-child(2) {background-color:rgba(255, 188, 188, 0.7);}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .brand {font-size:0.75rem; font-weight:500; margin-bottom:10px;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info > a {}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info > a .name {color:#666; font-size:0.875rem; margin-bottom:15px;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .bottom {
    display:flex; align-items:center; justify-content:space-between; padding-right:10px;
}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .bottom .price {font-size:0.938rem; font-weight:500;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .bottom .cart {cursor:pointer;}
main #row6_lookbook .container .tapContents .tapContent .wrap .product .list .info .bottom .cart img {}

/* 7행 : 셀럽착용제품 */
main #row7_celeb {
    padding:100px 0;
}
main #row7_celeb .container {
    position:relative;/* prev,next 버튼 부모위치기준 */
    text-align:center;
}
main #row7_celeb .container h1 {
    font-family:'Prata', serif;
    font-size:2.5rem; line-height:1.5;
    margin-bottom:80px;
}
main #row7_celeb .container h1 span {
    display:block; color:#aaa; font-size:1rem;
}
main #row7_celeb .container .moreBtn {
    display:block; text-align:right;
    font-size:0.875rem; padding:0 200px;
    margin-bottom:30px;
}
main #row7_celeb .container .celeb {
    width:1520px;
}
main #row7_celeb .container .celeb .swiper-wrapper {}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide { 
    display:flex; gap:30px;
    width:calc((100% - 200px) / 2);
    position:relative;/* 가상선택자 구분선 위치기준 */
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide::after {
    display:block; content:'';
    width:1px; height:217px; background-color:#ddd;
    position:absolute; top:50%; right:-100px; transform:translateY(-50%);
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide:last-child::after {
    display:none;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .celeb {
    width:calc((100% - (30px * 1)) / 2);
    border:1px solid #ddd;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .celeb img {
    margin-bottom:30px; width:100%;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .celeb p {
    line-height:1.5;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .celeb p:first-child {
    font-weight:500; color:#666;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .celeb p:last-child {
    font-size:1.125rem; margin-bottom:30px;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product {
    background-color:#FFF8F3; 
    width:calc((100% - (30px * 1)) / 2);
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product a {
    margin:20px 0; display:block; padding:0 30px;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product a img {
    width:100%;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .main {
    display:flex; justify-content:center; align-items:center;
    padding-left:44px;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .main p {
    font-size:1.125rem; font-weight:500; margin-right:20px;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .main button {}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .main button img {}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .text {
    font-size:0.875rem; line-height:1.5; margin:20px 0;
}
main #row7_celeb .container .celeb .swiper-wrapper .swiper-slide .product .price {
    font-weight:500; font-size:0.938rem;
}
main #row7_celeb .container .swiper-pagination {
    display:none;
}
main #row7_celeb .container .custom-prev {
    background-image:url(../images/row7/prev.png);
    background-size:contain;
    width:70px; height:70px; left:100px;
    top:50%; transform:translateY(50%); cursor:pointer; position:absolute;
}
main #row7_celeb .container .custom-next {
    background-image:url(../images/row7/next.png);
    background-size:contain;
    width:70px; height:70px; right:100px;
    top:50%; transform:translateY(50%); cursor:pointer; position:absolute;
}
/* 8행 : 인스타그램 */
main #row8_insta {
    text-align:center; padding:100px 0;
}
main #row8_insta .container {}
main #row8_insta .container h1 {
    font-family:'Prata', serif;
    font-size:2.5rem; line-height:1.5;
}
main #row8_insta .container h1 span {
    display:block; color:#aaa; font-size:1rem;
}
main #row8_insta .container .photoWrap {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:16px; width:1248px; 
    margin:0 auto; padding:40px 0; line-height:0;
}
main #row8_insta .container .photoWrap img {
    width:100%; padding:10px;
    border:1px solid #ddd;
    display:inline-block;
    /* width:calc(100% - (16px * 3)); */
}
main #row8_insta .container .instaBtn {
    display:inline-block;
    background-color:#FF5C5C;
    padding:16px 20px; border-radius:10px;
    color:#fff; font-size:0.875rem;
}