/* 반응형 웹 */
@media screen and (max-width:1299px){/* 태블릿 */
    .line_banner {background-color:pink; padding-right:50px;}
    header .top #logo a img {width:136px;}
    header .top {padding:20px 50px;}
    header nav {padding:0 50px;}
    header nav .gnb_right {display:none;}
    header nav .gnb_left > li .lnb_bg {
        padding:35px 160px;
    }
    main #row1_mainBnr .main {
        width:100%; height:580px;
    }
    main #row1_mainBnr .main .swiper-wrapper * {
        width:100%; height:580px;
    }
    main #row1_mainBnr .custom-pagination {bottom:25px;}
    main #row1_mainBnr .main .swiper-button-prev,
    main #row1_mainBnr .main .swiper-button-next {
        width:50px; height:50px;
    }
    /* 2행 변경 디자인 */
    main #row2_new .container .menu {
        padding:0 90px;
    }
    main #row2_new .container .tapContents .tapContent .new {
        /* width:844px; */
        width:100%; padding:0 90px;
    }
    /* JS에서 생성한 태그 */
    main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide {
        width:calc((100% - (16px * 2)) / 3);
        border:1px solid blue;
    }
    main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .name {
    font-size:0.813rem; margin-bottom:20px;
    }
    main #row2_new .container .tapContents .tapContent .swiper-button-prev {left:42px;}
    main #row2_new .container .tapContents .tapContent .swiper-button-next {right:42px;}
}/* 태블릿 반응형 끝 */
@media screen and (max-width:820px){/* 모바일 */
    .line_banner {background-color:green; padding-right:20px;}
    .line_banner .wrap span {font-size:0.75rem;}
    header {}
    header .top { padding:15px 20px;}
    header .top #logo {
        position:absolute; left:50%; top:15.5px; transform:translateX(-50%);}
    header .top #logo a img {width:90px;}
    header .top .user_menu .user_top {display:none;}
    header .top .user_menu .user_bottom .search_bar #search {display:none;}
    header .top .user_menu .user_bottom .search_bar .searchBtn {position:relative; bottom:-2px;}
    header .top .user_menu .user_bottom .search_bar .searchBtn img {width:23px;}
    header .top .user_menu .user_bottom .cartBtn img {width:23px;}
    header nav {padding:0px 0px; position:relative;/* 햄버거메뉴 부모위치기준 */}
    header nav .gnb_left li {display:none;}
    header nav .gnb_left li:first-child {/* 햄버거메뉴 */
        display:block; position:absolute; left:20px; top:-35px;
    }
    header nav .gnb_left li:first-child a img {width:20px;}

    main #row1_mainBnr .main {
        width:100%; height:380px;
    }
    main #row1_mainBnr .main .swiper-wrapper * {
        width:100%; height:380px;
    }
    main #row1_mainBnr .custom-pagination {bottom:15px;}
    /* 2행 변경 디자인 */
    main #row2_new {
    padding:50px 0;
    }
    main #row2_new .container h1 {
    font-size:1.375rem;
    }
    main #row2_new .container .menu {
        padding:0 20px; margin:40px 0 26px 0;
    }
    main #row2_new .container .tapContents .tapContent .new {
        /* width:390px; */
        width:100%; padding:0 20px;
    }
    /* JS에서 생성한 태그 */
    main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide {
        width:calc((100% - (10px)) / 2);
        border:1px solid yellow;
    }
    main #row2_new .container .tapContents .tapContent .new .swiper-wrapper .swiper-slide .name {
    font-size:0.813rem; margin-bottom:20px;
    }
    main #row2_new .container .tapContents .tapContent .swiper-button-prev {display:none;}
    main #row2_new .container .tapContents .tapContent .swiper-button-next {display:none;}

}/* 모바일 반응형 끝 */